services:
  - type: web
    name: api-java21
    runtime: docker
    plan: free
    branch: main
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
    healthCheckPath: /health
    autoDeploy: true