
spring:
  application:
    name: api-java21
    
  datasource:
    url: jdbc:postgresql://localhost:5432/api_db
    username: postgres
    password: 123qwe
    driver-class-name: org.postgresql.Driver
    
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        
server:
  port: 8080

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method

---
# ======= PERFIL DOCKER =======
spring:
  config:
    activate:
      on-profile: docker
  # As configurações do application-docker.yml serão carregadas automaticamente
  # Spring Boot carrega application.yml + application-docker.yml quando perfil "docker" está ativo